.day {
  width: 288px;
  border-radius: 2px;
  border: 1px solid black;
  min-height: 200px;
}

.time-slices-label {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
